.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ListItemCenter {
  display: flex !important;
  justify-content: center !important;
  overflow: auto !important;
  overflow-y: hidden !important;
  width: 100% !important;
}

.ListItemCenter>div {
  max-width: 100% !important;
}

.content-root {
  position: absolute;
  left: 256px !important;
}
